body {
    display: flex;
    background-color: black;
}
.sidebar {
    min-width: 200px;
    max-width: 200px;
    background-color: #e9ecef;
    height: 100vh;
    padding-top: 20px;
}
.main-content {
    margin-top: 0;
    flex-grow: 1
}
.navbar .container-fluid {
    background-color: #e9ecef;
}
.button-group {
    margin-top: 20px;
}
.btn-blue-200 {
    background-color: #90cdf4;
    color: white;
}
.content{
    margin: 10px;
    display: none;
}

.list{
    display:inline-flex;
    justify-content: space-evenly;
    padding: 10px;
}
.list li{
    list-style: none;
    margin-left: 5px;
}
.search{
    display: block;
}


